.row {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.row:hover {
  transform: translateX(4px);
  background-color: "grey";
  cursor: pointer;
}
